---
---

<footer
  class="flex flex-center gap-100 bg-secondary fw-extra-light padding-100"
>
  <p>Coded by Luin</p>
  <a href="https://github.com/luinrandir" target="_blank">
    <img src="/src/images/GitHub-Mark-Light-32px.png" alt="github" />
  </a>
</footer>
