---
---

<header class="flex flex-space gap-100 bg-primary padding-100">
  <h1 class="fs-primary-heading fw-extra-bold">Cookbook</h1>
  <button class="button fs-label fw-semi-bold" id="about-button">About</button>
</header>
